
<html>
    <style>
    body{text-align: center;}
    
    </style>
<head>
   
</head>
<body>
   <h1>START PAGE</h1> 
   <a href="Login Page.html">Login</a>
   <a href="New User.html">New User</a>
</body>
</html>