<!DOCTYPE html>
<html lang="en">
<head>
<title>Live IDE</title>
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 40px;
        right: 50%;
        bottom: 0;
        left: 0;
    }
</style>
</head>
<body>
<div>
<select id='language'>
  <option value='ace/mode/javascript' selected>Javascript</option>
  <option value='ace/mode/html'>HTML</option>
  <option value='ace/mode/java'>Java</option>
</select>
</div>
<div id="editor" width='500' height='500'></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js">
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const log = console.log;
    let editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    let selector = document.getElementById('language');

    selector.addEventListener('change', (evt) => {
      log(evt);
      log('changed language');
      let language = selector.value;
      editor.session.setMode(language);
    });


    let socket = io('http://localhost:3000');
    let textarea = editor.textInput.getElement();

    /*editor.session.on('change', function(delta) {
      let code = editor.getValue();
      socket.send(code);
    });*/

    textarea.addEventListener('keyup', (evt) => {
      let code = editor.getValue();
      console.log(socket.id);
      socket.send(code);
      console.log(code);
    });

    socket.on('newDelta', (delta) => {
      applyingChanges = true;
      aceDocument.applyDelta(delta);
      applyingChanges = false;
    });
    socket.on('message', (data) => {
      editor.setValue(data);
    });

});
</script>

</html>
