<html>

<title>habit;</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  #dived{text-align: center;}
  button {
    text-align: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }



  #title {
    font-size: 50px;

  }

  #result {
    font-weight: bold;
  }

  #img {

    visibility: hidden;
  }


  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }

  .w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
  }

  img {
    width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    text-align: center;
    font-family: 'Courier New';
  }

  li {
    font-family: 'Courier New';
  }

  .w3-third {
    background-color: teal;
  }

  #line {
    font-weight: bold;
    color: teal;


  }

  #streakImage {
    width: 20%;
    height: auto;
  }

  #myDiv {
    border: 1px outset black;
    background-color: teal;
    text-align: center;
    height: 400px;
    width: 250px;
    margin-left: -265;
    float: left;
    position: absolute;
    overflow: scroll;
  }

  #form{
    margin-left: -280;
    float: left;
     overflow: scroll;
     margin-top: 400px;
     position: absolute;
  }


  h4 {

    margin-left: -920;
  }
</style>

<body>


  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
        href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>

      <a target="_blank" rel="noopener noreferrer" href="localhost:3000/lesson1"
        class="w3-bar-item w3-button w3-hide-small w3-hover-white changeGreen"
        onclick="lessonClick(); disable(); turnGreen(0);">Getting Started with Github</a>

      <a target="_blank" rel="noopener noreferrer" href="localhost:3000/lesson2"
        class="w3-bar-item w3-button w3-hide-small w3-hover-white changeGreen"
        onclick="lessonClick(); disable(); turnGreen(1);">Choosing An IDE</a>
      <div class="dropdown"></div>
      <a href="#" onclick="myFunction()"
        class="w3-bar-item w3-button w3-hide-small w3-hover-white dropbtn dropdown">Basic HTML & CSS</a>
      <a href="#" onclick="myFunction2()"
        class="w3-bar-item w3-button w3-hide-small w3-hover-white dropbtn dropdown">Basic Javascript</a>
      <a class="w3-bar-item">Streak:</a>
      <img id="streakImage" class="w3-bar-item" />
      <a class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white"
        onclick="location.href='http://localhost:3000/begin'" id="signOut" style="position: fixed; right: 1.5vw; ">Sign Out</a>
    </div>


  </div>
  </div>

  <div id="myDropdown" class="dropdown-content" style="position: relative">
    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/htmllesson1" class="changeGreen"
      onclick="lessonClick(); disable(); turnGreen(2);"
      onClick="myTimer = setInterval(myCounter, 1000 * 60); disable()">Lesson 1</a>
    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/htmllesson2" class="changeGreen"
      onclick="lessonClick(); disable(); turnGreen(3);"
      onClick="myTimer = setInterval(myCounter, 1000 * 60); disable()">Lesson 2</a>
    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/htmllesson3" class="changeGreen"
      onclick="lessonClick(); disable(); turnGreen(4);"
      onClick="myTimer = setInterval(myCounter, 1000 * 60); disable()">Lesson 3</a>
    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/htmllesson4" class="changeGreen"
      onclick="lessonClick(); disable(); turnGreen(5);"
      onClick="myTimer = setInterval(myCounter, 1000 * 60); disable()">Lesson 4</a>
    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/htmllesson5" class="changeGreen"
      onclick="lessonClick(); disable(); turnGreen(6);"
      onClick="myTimer = setInterval(myCounter, 1000 * 60); disable()">Lesson 5</a>
  </div>

  <div id="myDropdown2" class="dropdown-content" style="position: relative">

    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/jslesson1" class="changeGreen"
      onclick="turnGreen(7); lessonClick(); disable();"
      onClick="myTimer = setInterval(myCounter, 1000 * 60); disable()">Lesson 1</a>
    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/jslesson2" class="changeGreen"
      onclick="turnGreen(8); lessonClick(); disable();"
      onClick="myTimer = setInterval(myCounter, 1000 * 60); disable()">Lesson 2</a>
    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/jslesson3" class="changeGreen"
      onclick="turnGreen(9); lessonClick(); disable();"
      onClick="myTimer = setInterval(myCounter, 1000 * 60); disable()">Lesson 3</a>
    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/jslesson4" class="changeGreen"
      onclick="turnGreen(10); lessonClick(); disable();"
      onClick="myTimer = setInterval(myCounter, 1000 * 60); disable()">Lesson 4</a>
    <a target="_blank" rel="noopener noreferrer" href="localhost:3000/jslesson5" class="changeGreen"
      onclick="turnGreen(11); lessonClick(); disable();"
      onClick="myTimer = setInterval(myCounter, 1000); disable() ">Lesson 5</a>


  </div>
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h4>User Score Board:</h4>
        <div id="myDiv"></div>
       
        <iframe src=" https://docs.google.com/forms/d/e/1FAIpQLSd4x2Tl-RqJjEBzTT0vwFJpc7v9VBb-nDj-m7DIG4Ibeo0x_A/viewform?embedded=true" id="form" width="280" height="360" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        <h1 class="w3-text-teal">WELCOME TO habit;!</h1>
        <h3>What does habit; do? habit; is:</h3>
        <ul>
          <li>Your personalized habit tracker.</li>
          <li>Keeps track of how much you code each day</li>
          <li>Gives you awards and goals to set to make programming more fun.</li>
          <li>Provides you with the proper tools to start your programming journey!</li>


        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p id="line">__________________________________________________________________</p>
      </div>
      <div class="w3-third w3-container" id="dived">
        <h1 id="title">habit;</h1>
        <img id="logo" class="w3-border w3-padding-large w3-padding-32 w3-center" src="logo.png" />
        <p></p>
        <h3 id="username"></h3>
        <button onclick="reward()" id="reward1" disabled>Beanie</button>
        <button onclick="reward2()" id="reward2" disabled>Cowboy</button>
        <button onclick="reward3()" id="reward3" disabled>Halo</button>
        <button onclick="reward4()" id="reward4" disabled>Kid</button>
        <br>
        <button onclick="reward5()" id="reward5" disabled>Pirate</button>
        <button onclick="reward6()" id="reward6" disabled>Santa</button>
        <button onclick="reward7()" id="reward7" disabled>Top Hat</button>
        <button onclick="reward8()" id="reward8" disabled>Wizard</button>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">How does habit; work?</h1>
        <h3>habit; provides you with:</h3>
        <ul>
          <li>Lessons from experienced computer programmers.</li>
          <li>Tests to review each lesson.</li>
          <li>A minute tracker to count how many minutes you have coded. Whether on site, or on your own!</li>



        </ul>
      </div>
      <div class="w3-third w3-container">
        <h2>TIMER FUNCTION:</h2>
        <h3 id="result"></h3>
        <input type="text" id="demo" value="0"
          style="background-color: snow; color: red; font-weight: bolder; width:69%" disabled>
        <button onclick="lessonClick(); disable()" id="disable">Start counter!</button>
        <button onClick="doneCounting()" id="stop" disabled>Stop counter!</button>
        <h3 id="todayTime"></h3>
        <br>
        <br>
        <h3>Your Awards:</h3>
        <img class="w3-border w3-padding-large w3-padding-32 w3-center" src="award.png" id="img" />


      </div>
    </div>








    <!-- END MAIN -->
  </div>
  

  <script>




    function reward(){
      document.getElementById("logo").src = "beanie.png";
    }

    function reward2(){
      document.getElementById("logo").src = "cowboy.png";
    }

    function reward3(){
      document.getElementById("logo").src = "halo.png";
    }

    function reward4(){
      document.getElementById("logo").src = "kid.png";
    }

    function reward5(){
      document.getElementById("logo").src = "pirate.png";
    }

    function reward6(){
      document.getElementById("logo").src = "santa.png";
    }

    function reward7(){
      document.getElementById("logo").src = "tophat.png";
    }

    function reward8(){
      document.getElementById("logo").src = "wizard.png";
    }

    var n = localStorage.getItem('on_load_counter');

    if (n === null) {
      n = -1;
    }

    n++;

    localStorage.setItem("on_load_counter", n);


    if (n === 1) {
      document.getElementById('streakImage').src = 'Streak 1.jpg';
    }

    if (n === 2) {
      document.getElementById('streakImage').src = 'Streak 2.jpg';
    }

    if (n === 3) {
      document.getElementById('streakImage').src = 'Streak 3.jpg';
    }
    if (n === 4) {
      document.getElementById('streakImage').src = 'Streak 4.jpg';
    }

    if (n === 5) {
      document.getElementById('streakImage').src = 'Streak 5.jpg';
    }
    if (n === 6) {
      document.getElementById('streakImage').src = 'Streak 6.jpg';
    }
    if (n >= 7) {
      document.getElementById('streakImage').src = 'Streak 7.jpg';
    }


    var local = localStorage.getItem("userInput");

    if (local == null) {

      var username = prompt("Please enter Username");
      if (username === null || username === "null" || username === "") {
        username = "The Unknown Player";
      }
      localStorage.setItem("userInput", username);
      

    }












    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }







    window.onload = function () {


      var checkup = localStorage.getItem("reward1");
      if(checkup === "false"){
        document.getElementById("reward1").disabled = false;
      }

      var checkup2 = localStorage.getItem("reward2");
      if(checkup2 === "false"){
        document.getElementById("reward2").disabled = false;
      }

      var checkup3 = localStorage.getItem("reward3");
      if(checkup3 === "false"){
        document.getElementById("reward3").disabled = false;
      }

      var checkup4 = localStorage.getItem("reward4");
      if(checkup4 === "false"){
        document.getElementById("reward4").disabled = false;
      }

      var checkup5 = localStorage.getItem("reward5");
      if(checkup5 === "false"){
        document.getElementById("reward5").disabled = false;
      }

      var checkup6 = localStorage.getItem("reward6");
      if(checkup6 === "false"){
        document.getElementById("reward6").disabled = false;
      }
      
      var checkup7 = localStorage.getItem("reward7");
      if(checkup7 === "false"){
        document.getElementById("reward7").disabled = false;
      }

      var checkup8 = localStorage.getItem("reward8");
      if(checkup8 === "false"){
        document.getElementById("reward8").disabled = false;
      }
      document.getElementById("myDiv").innerHTML = localStorage.getItem("tabelaContent");
      var x = localStorage.getItem("mytimes");
      var tempObject = JSON.parse(x);
      timesarray = tempObject && tempObject.timesarray ? tempObject.timesarray : [];
      Caculate();

    }
    var q = 0;

    function turnGreen(i) {


      document.getElementsByClassName("changeGreen")[i].style.backgroundColor = "green";




    }







    var timesarray = [];

    function Caculate() {
      var sum = 0;

      for (var i = 0; i < timesarray.length; i++) {
        sum = sum + parseInt(timesarray[i]);
        console.log(sum);
      }
      document.getElementById("result").innerHTML = "total time coding: " + sum;
      if (sum > 0) {

        var reward = document.getElementById("img").style.visibility = "visible";


      };

      var tryItOut = document.getElementById("username").innerHTML = local + " Score: " + sum;
      var roster = document.createElement("LI");
      var textnode = document.createTextNode(tryItOut);
      roster.appendChild(textnode);
      var leaderboard = document.getElementById("myDiv").appendChild(roster);
      var tabelaContent = document.getElementById("myDiv").innerHTML;



      var display = document.getElementById("username").innerHTML;

      if (display.match(/null/g)) {
        window.location.reload();
      }

      if (tabelaContent.match(/null/g)) {
        textnode.replace("null", username);

      }
      localStorage.setItem("tabelaContent", tabelaContent);







    }


    var c = 0;





    function disable() {
      document.getElementById("disable").disabled = true;
      document.getElementById("stop").disabled = false;
    }
    function myCounter() {
      var hey = document.getElementById("demo").value = ++c;
    var willWork = document.getElementById("result").innerHTML;
   
      var letsee = document.getElementById('reward1');
      var letsee2 = document.getElementById('reward2');
      var letsee3 = document.getElementById('reward3');
      var letsee4 = document.getElementById('reward4');
      var letsee5 = document.getElementById('reward5');
      var letsee6 = document.getElementById('reward6');
      var letsee7 = document.getElementById('reward7');
      var letsee8 = document.getElementById('reward8');
      if (c === 1 && willWork.match(/0/g)) {
        alert("You have clocked your first minute of Coding, here is the starting award!");
        var reward = document.getElementById("img").style.visibility = "visible";


      };

      if (c === 5 && letsee.disabled) {
    
        alert("You have clocked 5 straight minutes of coding! You have earned the Beanie!");
        var reward1 = document.getElementById("reward1").disabled = false;
        localStorage.setItem("reward1", reward1);

      };

      if (c === 10 && letsee2.disabled) {
        alert("You have clocked 10 straight minutes of coding! You have earned the Cowboy!");
        var reward2 = document.getElementById("reward2").disabled = false;
        localStorage.setItem("reward2", reward2);

      };

      if (c === 15 && letsee3.disabled) {
        alert("You have clocked 15 straight minutes of coding! You have earned the Halo!");
        var reward3 = document.getElementById("reward3").disabled = false;
        localStorage.setItem("reward3", reward3);

      };

      if (c === 20 && letsee4.disabled) {
        alert("You have clocked 20 straight minutes of coding! You have earned the Kid!");
        var reward4 = document.getElementById("reward4").disabled = false;
        localStorage.setItem("reward4", reward4);

      };

      if (c === 25 && letsee5.disabled) {
        alert("You have clocked 25 straight minutes of coding! You have earned the Pirate!");
        var reward5 = document.getElementById("reward5").disabled = false;
        localStorage.setItem("reward5", reward5);

      };

      if (c === 30 && letsee6.disabled) {
        alert("You have clocked 30 straight minutes of coding! You have earned the Santa!");
        var reward6 = document.getElementById("reward6").disabled = false;
        localStorage.setItem("reward6", reward6);

      };

      if (c === 35 && letsee7.disabled) {
        alert("You have clocked 35 straight minutes of coding! You have earned the Top Hat!");
        var reward7 = document.getElementById("reward7").disabled = false;
        localStorage.setItem("reward7", reward7);

      };
      if (c === 40 && letsee8.disabled) {
        alert("You have clocked 40 straight minutes of coding! You have earned the Wizard!");
        var reward8 = document.getElementById("reward8").disabled = false;
        localStorage.setItem("reward8", reward8);

      };
     
    }

    function doneCounting() {
      clearInterval(myTimer);

      var heyo = document.getElementById("demo").value;

      document.getElementById("disable").disabled = false;
      document.getElementById("stop").disabled = true;

      timesarray.push(heyo);
      var tempObject = { timesarray: timesarray };
      localStorage.setItem("mytimes", JSON.stringify(tempObject));

      Caculate();


      c = 0;
      document.getElementById("demo").value = 0;







    }


    function lessonClick() {

      myTimer = setInterval(myCounter, 1000);

    }





    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    function myFunction2() {
      document.getElementById("myDropdown2").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    
    


  </script>

</body>

</html>