<html>
    <style>
    body{text-align: center;}
    
    </style>
<head>
   
</head>
<body>
   <h1>New User Page</h1> 
  <input type="text" placeholder="Type New Username Here">
  <br>
  <input type="password" placeholder="Type New Password Here">
  <br>
  <input type="password" placeholder="Resubmit Password Here">
  <br>
  <input type="text" placeholder="Enter Display name here">
  <p>Minutes a day Coding</p>
  <input type="number">
  <br>
  <br>
  <input type="email" placeholder="Enter Email here">
  <button onclick="location.href = 'Github Page.html'">Submit</button>
  <p>Submit button currently just takes you to the github page.</p>
</body>
</html>